:host {
    /* app-entete*/
    color: rebeccapurple;
    padding: 15px;

    button {
        width: 150px;
    }

    mat-toolbar {
        position: fixed;
        display: flex;

        @media screen and (max-width: 550px) {
            flex-direction: column-reverse;
            padding-bottom: 64px;
            
        }

        mat-toolbar-row:first-of-type {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 550px) {
                justify-content: center;
            }

            :last-child {
                @media screen and (max-width: 550px) {
                    margin-top: 10px;
                }
            }

        }

        mat-toolbar-row:last-of-type {
            display: flex;
            justify-content: flex-end;
        }

        h1 {
            display: flex;
            margin: 0;
        }

        a {
            /*:not(:has(h1)){*/
            text-decoration: none;
        }

        nav {
            display: flex;
            align-items: center;

            a {
                margin-left: 16px;

                &.estActif {
                    font-weight: bold;
                }
            }

        }

    }



}