:host {
    
    /* app-entete*/
    color: rebeccapurple;
    padding: 15px;

    button {
        width: 150px;
    }

    mat-toolbar {
        position: fixed;
        display: flex;
        z-index: 999;
        padding-top: 10px;
        padding-bottom: 30px;

        @media screen and (max-width: 550px) {
            flex-direction: column-reverse;
            padding-bottom: 144px;
            
        }

        mat-toolbar-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 550px) {
                justify-content: center;
            }

            :last-child {
                @media screen and (max-width: 550px) {
                    margin-top: 10px;
                }
            }

        }

        // mat-toolbar-row:last-of-type {
        //     display: flex;
        //     justify-content: flex-end;
        // }

        h1 {
            display: flex;
            margin: 0;
        }

        a {
            /*:not(:has(h1)){*/
            img{
                display: block;
                background-size:cover;
                width: 200px;
                
            }
        }


        nav {
            display: flex;
            align-items: center;

            a {
                margin-left: 16px;

                &.estActif {
                    font-weight: bold;
                }
            }

        }

    }



}