<section class="liste">
    <h1>Mes produits</h1>
    <p *ngIf="estConnecte">Sont éditable ? <input type="checkbox" [(ngModel)]="sontEditable"></p>

    <!-- <app-produit [(peutEditer)]="sontEditable" [produit]="unProduit" *ngFor="let unProduit of produits"></app-produit> -->

    <div class="mat-elevation-z8">
    <mat-table mat-table [dataSource]="produits" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.id_biere}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.nom}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="brasserie">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Brasserie </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.brasserie}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.description}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colonnesAffichees"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: colonnesAffichees"></mat-row>
    </mat-table>
</div> 


    <!--   <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>  

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

-->


    <!--
    <app-produit [(peutEditer)]="sontEditable" [produit]="unProduit" *ngFor="let unProduit of produits"></app-produit> -->


</section>