

.liste {
    padding-top: calc(2*64px);
    display: flex;
    flex-direction: column;

    table {
        width: 100%;
      }
      
      .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }

    .unProduit{
        margin: 16px;
        
        width: 200px;
        border: 5px dashed rebeccapurple;
        .ng-dirty {
            border: 1px solid red;
        }
    }
}