
.liste {
  padding-top: 150px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

  .btn-ajouter{
    margin-bottom: 16px;
  }

  mat-cell {
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .boutons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    button:not(:first-of-type){
      width: 100px;
    }
  }
  
  mat-cell:not(:nth-child(3)),
  mat-header-cell:not(:nth-child(3)),
  mat-footer-cell:not(:nth-child(3)) {
    flex: 1;
  }

  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3),
  mat-footer-cell:nth-child(3) {
    flex: 4;
  }

  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6),
  mat-footer-cell:nth-child(6) {
    flex: 2;
  }

 
  @media screen and (max-width: 600px) {

    padding-top: 250px;


    mat-cell:nth-child(4),
    mat-header-cell:nth-child(4),
    mat-footer-cell:nth-child(4) {
      display: none;
    }

    mat-cell:nth-child(5),
    mat-header-cell:nth-child(5),
    mat-footer-cell:nth-child(5) {
      display: none;
    }

    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1),
    mat-footer-cell:nth-child(1) {
      flex: 1;
    }

    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2),
    mat-footer-cell:nth-child(2) {
      flex: 1;
    }

    mat-cell:nth-child(3),
    mat-header-cell:nth-child(3),
    mat-footer-cell:nth-child(3) {
      display: none;
    }
  }

}